

.header{
    background-color: #00671c;
    padding: 1px;
    text-align: center;
    font-palette: light;
    color: white;
}

ul{
    background-color: #9acc00;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;

}

li a{
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

li a:hover:not(.active){
    background-color: #6c9100;
}

label{
    padding-bottom: 10px;
}
